@use '../abstract/variables' as clr_ft;
@use '../abstract/mixins' as layout;
.nav {
	@include layout.mobile(550px) {
		position: fixed;
		top: 0;
		right: 0;
		transform: translateX(100rem);
		transition: transform 1s ease-in-out;
		height: 100%;
		width: 67%;
		background-color: color-mix(in srgb, #ffffff 70%, rgb(248, 254, 253) 100%);
		box-shadow: 0rem -7rem 3.5rem 0.1rem rgba(194, 237, 237, 0.391) inset,
			0.1rem -0.1rem 0.5rem 0.1rem clr_ft.$off-white;
		@include layout.flex($justify: flex-start, $gap: 0rem, $direction: row);
		&--active {
			transform: translateX(0rem);
			transition: transform 1s ease-in-out;
		}
	}

	&__list {
		@include layout.flex($direction: row, $gap: 2.5rem);
		@include layout.mobile(550px) {
			padding: 2rem 3rem 13rem;
			@include layout.flex($align: flex-start, $gap: 1rem);
			font-size: 1.3em;
		}
	}
}
