@use "../abstract/variables" as clr_ft;
@font-face {
  font-family: "Inter-Bd";
  src: url("../../../dist/assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-ExBd";
  src: url("../../../dist/assets/fonts/static/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Inter-Rg";
  src: url("../../../dist/assets/fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Wht";
  src: url("../../../dist/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

body {
  min-height: 100dvh;
  hyphens: manual;
  background-color: clr_ft.$off-white;
  font-family: "Inter-Rg";
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: clr_ft.$hd1-4em;
  line-height: clr_ft.$line-1-1;
}

h2 {
  color: clr_ft.$soft-orange;
  font-size: clr_ft.$hd2-2-15em;
}

p {
  font-family: "Inter-Wht";
  font-size: clr_ft.$pg-1em;
  line-height: clr_ft.$line-1-6;
  color: clr_ft.$dark-grayish-blue;
}

span {
  font-size: 2em;
  color: clr_ft.$grayish-blue;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

button {
  background-color: transparent;
}

a {
  color: clr_ft.$very-dark-blue;
  font-size: 1.2em;
  font-family: "Inter-Rg";
  line-height: 2.6;
  transition: color 0.2s ease;
  cursor: pointer;
  &:hover {
    color: clr_ft.$soft-orange;
    transition: color 0.2s ease;
  }
}

.introduction__btn {
  background-color: clr_ft.$soft-red;
  letter-spacing: 0.4em;
}

.new__name {
  color: clr_ft.$off-white;
  font-size: clr_ft.$hd3-1-25em;
}

h2,
h3 {
  font-family: "Inter-Bd";
}

h1,
span {
  font-family: "Inter-ExBd";
}

.categories__title,
h1 {
  color: clr_ft.$very-dark-blue;
}
