// ### Primary
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
// ### Neutral
$off-white: hsl(40, 23%, 95%);
$off-white-ligth: hsl(48, 20%, 95%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);
// ## Typography
$pg-095em: 0.95em;
$hd3-5em: 3.5em;
$hd2-5em: 2.5em;
$hd3-1-25em: 1.25em;
$line-1-1: 1;
$line-1-6: 1.6;
